In [67]:
import pandas as pd

df_noext = pd.read_csv(f"results_raandext_noext.csv")
df_noext.columns = df_noext.columns.str.strip()
df_noext = df_noext[["Testcase","Total cost","Avg. maximum unattested time","Avg. maximum unattested time %" ,"Avg. time spent attesting" ,"Avg. time spent attesting %" ,"Avg. worst case response time" ,"Avg. avg response time" ,"Avg. avg response time %"]]

df_ext = pd.read_csv(f"results_raandext.csv")
df_ext.columns = df_ext.columns.str.strip()
df_ext = df_ext[["Testcase","Total cost","Avg. maximum unattested time","Avg. maximum unattested time %" ,"Avg. time spent attesting" ,"Avg. time spent attesting %" ,"Avg. worst case response time" ,"Avg. avg response time" ,"Avg. avg response time %"]]

In [68]:
sum_perc_dec = 0
res1 = pd.DataFrame(columns=["", "NOEXT", "EXT"])
print("Average maximum unattested time")
for i in range(11):
    tc1 = df_noext.iloc[i]["Testcase"]
    tc2 = df_ext.iloc[i]["Testcase"]
    assert tc1 == tc2
    amut_noext = df_noext.iloc[i]["Avg. maximum unattested time"].item()
    amut_ext = df_ext.iloc[i]["Avg. maximum unattested time"].item()
    
    perc_decrease = ((float(amut_noext) - float(amut_ext))/amut_noext * 100)
    sum_perc_dec += perc_decrease
    perc_decrease = str(round(perc_decrease,1))
    res1.loc[i] = [tc1, amut_noext, f"{amut_ext} (-{perc_decrease}%)"]
res1

Average maximum unattested time

                NOEXT             EXT
0   TC1         26.00   22.0 (-15.4%)
1   TC2         92.00   31.0 (-66.3%)
2   TC3        156.00   52.0 (-66.7%)
3   TC4         14.50   12.0 (-17.2%)
4   TC5         66.50   40.5 (-39.1%)
5   TC6         76.00   63.5 (-16.4%)
6   TC7         23.75   21.75 (-8.4%)
7   TC8         50.50  44.75 (-11.4%)
8   TC9         61.25    58.5 (-4.5%)
9   TC10        45.62  24.62 (-46.0%)
10  TC11        84.12   61.5 (-26.9%)

In [69]:
sum_perc_dec = 0
res2 = pd.DataFrame(columns=["", "NOEXT", "EXT"])
print("Avg. worst case response time")
for i in range(11):
    tc1 = df_noext.iloc[i]["Testcase"]
    tc2 = df_ext.iloc[i]["Testcase"]
    assert tc1 == tc2
    amut_noext = df_noext.iloc[i]["Avg. worst case response time"].item()
    amut_ext = df_ext.iloc[i]["Avg. worst case response time"].item()
    
    perc_decrease = ((float(amut_noext) - float(amut_ext))/amut_noext * 100)
    sum_perc_dec += perc_decrease
    perc_decrease = str(round(perc_decrease,1))
    res2.loc[i] = [tc1, amut_noext, f"{amut_ext} (-{perc_decrease}%)"]
res2

Avg. worst case response time

                NOEXT             EXT
0   TC1         46.50   37.0 (-20.4%)
1   TC2         73.00   63.0 (-13.7%)
2   TC3         75.00   56.5 (-24.7%)
3   TC4         52.25  27.75 (-46.9%)
4   TC5         63.00   49.0 (-22.2%)
5   TC6        113.75   42.5 (-62.6%)
6   TC7         34.88  23.62 (-32.3%)
7   TC8         58.00  34.62 (-40.3%)
8   TC9         83.75   49.5 (-40.9%)
9   TC10        48.12  41.44 (-13.9%)
10  TC11        53.94  41.62 (-22.8%)

In [70]:
sum_perc_dec = 0
res3 = pd.DataFrame(columns=["", "NOEXT", "EXT"])
print("Avg. avg response time")
for i in range(11):
    tc1 = df_noext.iloc[i]["Testcase"]
    tc2 = df_ext.iloc[i]["Testcase"]
    assert tc1 == tc2
    amut_noext = df_noext.iloc[i]["Avg. avg response time"].item()
    amut_ext = df_ext.iloc[i]["Avg. avg response time"].item()
    
    perc_decrease = ((float(amut_noext) - float(amut_ext))/amut_noext * 100)
    sum_perc_dec += perc_decrease
    perc_decrease = str(round(perc_decrease,1))
    res3.loc[i] = [tc1, amut_noext, f"{amut_ext} (-{perc_decrease}%)"]
res3

Avg. avg response time

               NOEXT            EXT
0   TC1         0.29   0.2 (-31.0%)
1   TC2         0.85  0.67 (-21.2%)
2   TC3         1.39  0.95 (-31.7%)
3   TC4         0.44   0.2 (-54.5%)
4   TC5         0.71  0.53 (-25.4%)
5   TC6         3.00  0.83 (-72.3%)
6   TC7         0.30  0.19 (-36.7%)
7   TC8         0.71  0.32 (-54.9%)
8   TC9         1.40  0.66 (-52.9%)
9   TC10        0.51  0.39 (-23.5%)
10  TC11        0.71  0.49 (-31.0%)

In [71]:
sum_perc_dec = 0
res4 = pd.DataFrame(columns=["", "NOEXT", "EXT"])
print("Total cost")
for i in range(11):
    tc1 = df_noext.iloc[i]["Testcase"]
    tc2 = df_ext.iloc[i]["Testcase"]
    assert tc1 == tc2
    amut_noext = df_noext.iloc[i]["Total cost"].item()
    amut_ext = df_ext.iloc[i]["Total cost"].item()
    
    perc_decrease = ((float(amut_noext) - float(amut_ext))/amut_noext * 100)
    sum_perc_dec += perc_decrease
    perc_decrease = str(round(perc_decrease,1))
    res4.loc[i] = [tc1, amut_noext, f"{amut_ext} (-{perc_decrease}%)"]
res4

Total cost

                 NOEXT             EXT
0   TC1          36963  31093 (-15.9%)
1   TC2          71982   65838 (-8.5%)
2   TC3         176674  170166 (-3.7%)
3   TC4          83919  72249 (-13.9%)
4   TC5         164000  152480 (-7.0%)
5   TC6         307908  296750 (-3.6%)
6   TC7         179819  163489 (-9.1%)
7   TC8         349107  332261 (-4.8%)
8   TC9         496606  481808 (-3.0%)
9   TC10        622430  576253 (-7.4%)
10  TC11       1034161  988412 (-4.4%)

In [85]:
df_res = pd.concat([res1,res2.iloc[:,1:],res3.iloc[:,1:], res4.iloc[:,1:]], axis=1)
df_res

,,NOEXT,EXT,NOEXT,EXT,NOEXT,EXT,NOEXT,EXT
0,TC1,26.00,22.0 (-15.4%),46.50,37.0 (-20.4%),0.29,0.2 (-31.0%),36963,31093 (-15.9%)
1,TC2,92.00,31.0 (-66.3%),73.00,63.0 (-13.7%),0.85,0.67 (-21.2%),71982,65838 (-8.5%)
2,TC3,156.00,52.0 (-66.7%),75.00,56.5 (-24.7%),1.39,0.95 (-31.7%),176674,170166 (-3.7%)
3,TC4,14.50,12.0 (-17.2%),52.25,27.75 (-46.9%),0.44,0.2 (-54.5%),83919,72249 (-13.9%)
4,TC5,66.50,40.5 (-39.1%),63.00,49.0 (-22.2%),0.71,0.53 (-25.4%),164000,152480 (-7.0%)
5,TC6,76.00,63.5 (-16.4%),113.75,42.5 (-62.6%),3.00,0.83 (-72.3%),307908,296750 (-3.6%)
6,TC7,23.75,21.75 (-8.4%),34.88,23.62 (-32.3%),0.30,0.19 (-36.7%),179819,163489 (-9.1%)
7,TC8,50.50,44.75 (-11.4%),58.00,34.62 (-40.3%),0.71,0.32 (-54.9%),349107,332261 (-4.8%)
8,TC9,61.25,58.5 (-4.5%),83.75,49.5 (-40.9%),1.40,0.66 (-52.9%),496606,481808 (-3.0%)
9,TC10,45.62,24.62 (-46.0%),48.12,41.44 (-13.9%),0.51,0.39 (-23.5%),622430,576253 (-7.4%)
10,TC11,84.12,61.5 (-26.9%),53.94,41.62 (-22.8%),0.71,0.49 (-31.0%),1034161,988412 (-4.4%)

In [94]:
# Convert to string for LaTeX table
x = df_res.to_string(header=False,
                  index=False,
                  index_names=False).replace("%", "\\%").replace(" (", "_(").split('\n')
x

[' TC1         26.00   22.0_(-15.4\\%)   46.50   37.0_(-20.4\\%)  0.29   0.2_(-31.0\\%)    36963  31093_(-15.9\\%)',
 ' TC2         92.00   31.0_(-66.3\\%)   73.00   63.0_(-13.7\\%)  0.85  0.67_(-21.2\\%)    71982   65838_(-8.5\\%)',
 ' TC3        156.00   52.0_(-66.7\\%)   75.00   56.5_(-24.7\\%)  1.39  0.95_(-31.7\\%)   176674  170166_(-3.7\\%)',
 ' TC4         14.50   12.0_(-17.2\\%)   52.25  27.75_(-46.9\\%)  0.44   0.2_(-54.5\\%)    83919  72249_(-13.9\\%)',
 ' TC5         66.50   40.5_(-39.1\\%)   63.00   49.0_(-22.2\\%)  0.71  0.53_(-25.4\\%)   164000  152480_(-7.0\\%)',
 ' TC6         76.00   63.5_(-16.4\\%)  113.75   42.5_(-62.6\\%)  3.00  0.83_(-72.3\\%)   307908  296750_(-3.6\\%)',
 ' TC7         23.75   21.75_(-8.4\\%)   34.88  23.62_(-32.3\\%)  0.30  0.19_(-36.7\\%)   179819  163489_(-9.1\\%)',
 ' TC8         50.50  44.75_(-11.4\\%)   58.00  34.62_(-40.3\\%)  0.71  0.32_(-54.9\\%)   349107  332261_(-4.8\\%)',
 ' TC9         61.25    58.5_(-4.5\\%)   83.75   49.5_(-40.9\\%)  1.40  0.66_(-52.9\\%)   496606  481808_(-3.0\\%)',
 ' TC10        45.62  24.62_(-46.0\\%)   48.12  41.44_(-13.9\\%)  0.51  0.39_(-23.5\\%)   622430  576253_(-7.4\\%)',
 ' TC11        84.12   61.5_(-26.9\\%)   53.94  41.62_(-22.8\\%)  0.71  0.49_(-31.0\\%)  1034161  988412_(-4.4\\%)']

In [97]:
vals = [' & '.join(ele.split()) for ele in x]
print("\\\\ \hline".join(vals).replace("_", " "))

TC1 & 26.00 & 22.0 (-15.4\%) & 46.50 & 37.0 (-20.4\%) & 0.29 & 0.2 (-31.0\%) & 36963 & 31093 (-15.9\%)\\ \hlineTC2 & 92.00 & 31.0 (-66.3\%) & 73.00 & 63.0 (-13.7\%) & 0.85 & 0.67 (-21.2\%) & 71982 & 65838 (-8.5\%)\\ \hlineTC3 & 156.00 & 52.0 (-66.7\%) & 75.00 & 56.5 (-24.7\%) & 1.39 & 0.95 (-31.7\%) & 176674 & 170166 (-3.7\%)\\ \hlineTC4 & 14.50 & 12.0 (-17.2\%) & 52.25 & 27.75 (-46.9\%) & 0.44 & 0.2 (-54.5\%) & 83919 & 72249 (-13.9\%)\\ \hlineTC5 & 66.50 & 40.5 (-39.1\%) & 63.00 & 49.0 (-22.2\%) & 0.71 & 0.53 (-25.4\%) & 164000 & 152480 (-7.0\%)\\ \hlineTC6 & 76.00 & 63.5 (-16.4\%) & 113.75 & 42.5 (-62.6\%) & 3.00 & 0.83 (-72.3\%) & 307908 & 296750 (-3.6\%)\\ \hlineTC7 & 23.75 & 21.75 (-8.4\%) & 34.88 & 23.62 (-32.3\%) & 0.30 & 0.19 (-36.7\%) & 179819 & 163489 (-9.1\%)\\ \hlineTC8 & 50.50 & 44.75 (-11.4\%) & 58.00 & 34.62 (-40.3\%) & 0.71 & 0.32 (-54.9\%) & 349107 & 332261 (-4.8\%)\\ \hlineTC9 & 61.25 & 58.5 (-4.5\%) & 83.75 & 49.5 (-40.9\%) & 1.40 & 0.66 (-52.9\%) & 496606 & 481808 (-3.0\%)\\ \hlineTC10 & 45.62 & 24.62 (-46.0\%) & 48.12 & 41.44 (-13.9\%) & 0.51 & 0.39 (-23.5\%) & 622430 & 576253 (-7.4\%)\\ \hlineTC11 & 84.12 & 61.5 (-26.9\%) & 53.94 & 41.62 (-22.8\%) & 0.71 & 0.49 (-31.0\%) & 1034161 & 988412 (-4.4\%)